.App {
  text-align: center;
}

* {
  box-sizing: border-box;
} 
/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.button {
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: left;
  float: left;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  
}

p {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.App-header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: auto;
}

/* Right column */
.rightcolumn {
  float: left;
  width: auto;
  padding-left: 20px;
}


/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: auto;

}

/* Clear floats after the columns */
.row:after {
 content: "";
 display: table;
 clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Create two equal columns that floats next to each other */
/* .column1 {
  float: left;
  width: 20%;
  padding: 10px;
  height: 500px; 
  border-style: solid;
  border-color: black;
} 
*/

/* .column2 {
  float: left;
  width: 80%;
  padding: 10px;
  height: 600px; 
  border-style: solid;
  border-color: black;
} */


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
